{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-5">
        <div class="col-6 mx-auto">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-block btn-primary rounded-0">
                {% trans from 'registration' %}registration{% endtrans %}
            </button>
            {{ form_end(form) }}
            <a href="{{ path('security_login') }}" class="btn btn-block btn-success rounded-0 my-2">
                {% trans from 'login' %}login{% endtrans %}
            </a>
        </div>
    </div>

{% endblock %}