{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-5">
        <div class="col-6 mx-auto">
            Bienvenue !
            Welcome to my DDD experiment
        </div>
    </div>

{% endblock %}